// NotFound.scss
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,500');

html, body {
    width: 100%;
    height: 100%;
}

.not-found {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/257418/andy-holmes-698828-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    font-family: "Roboto Mono", "Liberation Mono", Consolas, monospace;
    color: rgba(255, 255, 255, 0.87);
    position: relative;
}

.container-not-found {
    position: absolute;
    bottom: 0%;
    left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.number-not-found {
    position: absolute;
    top: 30%;
    left: 40%;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.text-not-found {
    font-weight: 300;
    text-align: center;
}

.button{
  position: absolute;
  top: 60%;
  left: 40%;
  background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/257418/andy-holmes-698828-unsplash.jpg),;
  border-radius: 4em;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.87);
  padding: 0.8em 1.8em;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
  &:hover {
    color: blue;
    background-color:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/257418/andy-holmes-698828-unsplash.jpg) ;
  }
}

